configs/nvim/tt.*
configs/nvim/.tests
configs/nvim/doc/tags
configs/nvim/debug
configs/nvim/.repro
configs/nvim/foo.*
configs/nvim/*.log
configs/nvim/data
configs/nvim/lazy-lock.json
configs/cava/shaders

