[Desktop Entry]
Type=Application
Exec=/nix/store/v4zid4az3bxr2gjj4w0lr98yff9kpnxp-discord-ptb-1.0.197/opt/DiscordPTB/.DiscordPTB-wrapped
Hidden=false
NoDisplay=false
Name=.DiscordPTB-wrapped
Icon=/nix/store/v4zid4az3bxr2gjj4w0lr98yff9kpnxp-discord-ptb-1.0.197/opt/DiscordPTB/discord.png
Comment=Text and voice chat for gamers.
X-GNOME-Autostart-enabled=true
